@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
    background-color: #95afc0;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 25px;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100vh;
}

.controls .button {
text-transform: uppercase;
padding: 0 40px;
}

.button {
    margin-bottom: 20px;
}
.stopwatch {
    font-size: 60px;
    margin: 30px;
}